#root {
  width: 100%;
  min-height: 100vh;
}

.mantine-AppShell-root {
  width: 100%;
  min-height: 100vh;
}

.mantine-AppShell-main {
  width: 100% !important;
  flex: 1;
  background-color: #ffffff;
}

.navIconUnselected {
  color: black !important;
} 